@media only screen and (min-width: 320px) and (max-width: 480px) {
    .heroTitle {
        font-size: 50px;
    }
    .heroText {
        text-align: center;
    }
    .verticalCircle1, .verticalCircle2, .verticalCircle3, .verticalCircle4, .verticalCircle5 {
        display: none;
    }
    #social-media-icons {
        display: none;
    }
    #social-media-icons::after {
        display: none;
    }
    .headerContainer {
        margin: 0;
    }
    .navJs {
        top: 15%;
    }
    .navJs a {
        font-size: 40px;
    }
    .navToggler:hover {
        letter-spacing: 0;
    }
    .about {
        flex-direction: column;
        padding: 15px;
        height: 100%;
    }
    .leftAbout {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        padding-left: 10px;
    }
    .titleAboutDiv h2 {
        padding: 20px;
        font-size: 56px;
    }
    .imgAbout {
        padding-top: 20px;
        max-width: 300px;
        max-height: 300px;
        clip-path: circle();
    }
    .rightAbout {
        width: 100%;
        padding: 0;
    }
    .divImgAbout {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .divImgAbout::before {
        display: none;
    }
    .titlePortfolio {
        padding-top: 20px;
        font-size: 56px;
    }
    #filter-buttons button {
        font-size: 24px;
    }
    #filter-buttons button:hover {
        letter-spacing: 0;
    }
    #filterable-cards {
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .portfolio {
        height: 100%;
        padding: 15px;
    }
    .card {
        width: 95vw;
        height: auto; 
    }
    .titleHoverCard {
        font-size: 20px;
    }
    .textHoverCard {
        font-size: 16px;
    }
    .buttonHoverCard {
        padding: 8px;
        font-size: 12px;
    }
    .pillsHtml {
        padding: 3px;
        font-size: 12px;
    }
    .pillsCss {
        padding: 3px;
        font-size: 12px;
    }
    .pillsJs {
        padding: 3px;
        font-size: 12px;
    }
    .pillsPhp {
        padding: 3px;
        font-size: 12px;
    }
    .pillsWordpress {
        padding: 3px;
        font-size: 12px;
    }
    .contact {
        height: 100%;
        flex-direction: column;
        padding: 15px;
    }
    .rowTitleContact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titleContact {
        font-size: 50px;
    }
    html {
        scroll-snap-type: none;
    }
    textarea::placeholder:focus {
        color: var(--white-color);
        font-family: 'Montserrat', sans-serif;
    }
    .experiences {
        padding: 15px;
        flex-direction: row;
        height: 100%;
    }
    .titleXp {
        font-size: 50px;
        padding: 10px;
        margin: 0;
    }
    .leftXpDiv {
        width: 100%;
    }
    .rightXpDiv {
        width: 100%;
    }
    .skillsRow {
        flex-direction: column;
        padding: 10px 0;
    }
    .incomingColSkills {
        padding: 0 0 20px 0;
    }
}