body {
    font-family: 'Montserrat', sans-serif;
    /* text size */
    --regular : 18px;
    /* color */
    --primary-color : #f18701;
    --grey-color : #353B41;
    --white-color : #EFF2F5;
    margin: 0;
}

/* html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
} */

#particles-js{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background-color: #181A1B;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

/* TYPO */ 
@font-face {
    font-family: BLUDHAVEN;
    src: url("../typo/BLUDHAVEN.ttf");
}

/* SOCIAL LEFT */
#social-media-icons {
    list-style: none;
    position: fixed;
    bottom: 50px; 
    height: 170px;
    z-index: 9999;
}

#social-media-icons::after {
    content: '';
    display: block;
    width: 3px; 
    height: 100%; 
    background-color: var(--primary-color); 
    position: absolute;
    left: 55%;
    transform: translateX(-50%); 
}

#social-media-icons li {
    margin: 25px 0;
}

.icon {
    position: relative;
    left: -15px;
}

/* NAVBAR */
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1%;
}

.navToggler {
    font-weight: bold;
    margin-top: 50px;
    position: fixed;
    color: hsl(0, 8%, 95%);
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 11;
    border: none;
    background-color: transparent;
    overflow: hidden;
    z-index: 9999999;
}

.navToggler:hover {
    color: var(--primary-color);
}

.navToggler span {
    position: relative;
    display: block;
    transition: transform 0.5s ease;
}

.navToggler.active span {
    transform: translateY(-100%);
}

.navToggler span::after{
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    color: #f18701;
}

.navToggler span:hover::after {
    color: var(--white-color);
}

.navJs {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #111111;
    z-index: 10;
    display: flex;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

.navJs.open {
    visibility: visible;
    opacity: 1;
    z-index: 999999;
}

.navJs ul {
    margin: auto;
    list-style: none;
    padding: 80px 15px;
}

.navJs li {
    text-align: center;
    line-height: 1;
    overflow-y: hidden;
}

.navJs li + li  {
    margin-top: 30px;
}

.navJs a {
    color: #f18701;
    display: inline-block;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    opacity: 0;
    transform: translateY(100%);
    font-family: BLUDHAVEN;
    transition: color 0.6s cubic-bezier(.97, .02, .01, .98),
                transform 1s ease,
                opacity 0.3s ease;
}

.navJs.open a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, calc(0.05s * var(--i));
}

.navJs a:hover {
    color: hsl(0, 0%, 90%);
}

.navJs a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: hsl(0, 0%, 90%);
    width: 0;
    transition: width 0.6s cubic-bezier(.97, .02, .01, .98);
}

.navJs a:hover::before {
    width: 100%;
}

/* SECTION HERO PAGE */
.heroPage {
    height: 100vh;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroTitle {
    font-family: BLUDHAVEN;
    text-transform: uppercase;
    font-size: 200px;
    color: var(--white-color);
    margin: 0;
    font-weight: normal;
    z-index: 1;
}

.heroText {
    color: var(--white-color);
    font-size: 24px;
    text-transform: uppercase;
    z-index: 1;
}

.heroButton {
    text-transform: uppercase;
    background-color: var(--white-color);
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 9;
    border: none;
}

.heroButton:hover {
    letter-spacing: 3px;
}

#typewriter-text {
    color: var(--primary-color);
    font-weight: bold;
}

/* RIGHT BAR */
.verticalUl {
    position: fixed;
    list-style-type: none;
    z-index: 99999;
}

.verticalCircle1 {
    position: fixed;
    height: 15px;
    width: 15px;
    right: 2%;
    bottom: 63%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); 
    border: 3px solid rgba( 255, 255, 255, 0.50 ); 
    background-color: var(--white-color); 
    color: var(--white-color);
    cursor: pointer;
}

.verticalCircle1:hover {
    opacity: 1; 
    background-color: var(--white-color);
    border: 3px solid rgba( 255, 255, 255, 0.50 );
}

.verticalCircle2 {
    position: fixed;
    height: 15px;
    width: 15px;
    right: 2%;
    bottom: 59%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); 
    border: 3px solid rgba( 255, 255, 255, 0.50 ); 
    background-color: var(--white-color); 
    color: var(--white-color);
    cursor: pointer;
}

.verticalCircle2:hover {
    opacity: 1; 
    background-color: var(--white-color);
    border: 3px solid rgba( 255, 255, 255, 0.50 );
}

.verticalCircle3 {
    position: fixed;
    height: 15px;
    width: 15px;
    right: 2%;
    bottom: 55%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); 
    border: 3px solid rgba( 255, 255, 255, 0.50 ); 
    background-color: var(--white-color); 
    color: var(--white-color);
    cursor: pointer;
}


.verticalCircle3:hover {
    opacity: 1; 
    background-color: var(--white-color);
    border: 3px solid rgba( 255, 255, 255, 0.50 );
}

.verticalCircle4 {
    position: fixed;
    height: 15px;
    width: 15px;
    right: 2%;
    bottom: 51%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); 
    border: 3px solid rgba( 255, 255, 255, 0.50 ); 
    background-color: var(--white-color); 
    color: var(--white-color);
    cursor: pointer;
}

.verticalCircle4:hover {
    opacity: 1; 
    background-color: var(--white-color);
    border: 3px solid rgba( 255, 255, 255, 0.50 );
}

.verticalCircle5 {
    position: fixed;
    height: 15px;
    width: 15px;
    right: 2%;
    bottom: 47%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); 
    border: 3px solid rgba( 255, 255, 255, 0.50 ); 
    background-color: var(--white-color); 
    color: var(--white-color);
    cursor: pointer;
}

.verticalCircle5:hover {
    opacity: 1; 
    background-color: var(--white-color);
    border: 3px solid rgba( 255, 255, 255, 0.50 );
}

.visibleCircle {
    opacity: 1; 
    background-color: transparent;
    clip-path: circle();
    border: 3px solid rgba( 255, 255, 255, 1 );
    border-radius: 50%;
}

.hiddenCircle {
    opacity: 0.5;
}

/* SECTION ABOUT */
.about {
    padding: 24px;
    display: flex;
    height: 100vh;
    background-color: #181A1B;
    overflow: hidden;
}

.leftAbout {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    text-align: center;
}

.rightAbout {
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: center;
}

.titleAbout {
    font-family: BLUDHAVEN;
    font-size: 120px;
    margin: 0;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0 20px;
}

.textAbout {
    color: var(--white-color);
    padding: 20px 20px;
    font-size: var(--white-color);
}

.imgAbout {
    object-fit: cover;
    position: relative;
    max-width: 100%;
    max-height: 80%;
}

.divImgAbout {
    position: relative;
}

.divImgAbout::before {
    position: absolute;
    left: 13%;
    top: 5%;
    width: 100%;
    height: 80%;
    border: 4px solid var(--primary-color);
    content: '';
}

/* EXPERIENCES SECTION */
.experiences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #181A1B;
    padding: 24px;
    justify-content: center;
    overflow: hidden;
}

.titleXpDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 0 0 20px 0;
}

.titleXp {
    font-family: BLUDHAVEN;
    font-size: 120px;
    color: var(--white-color);
    text-transform: uppercase;
}

.leftXpDiv {
    height:66%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.leftXpDiv h3 {
    padding: 0 0 0 20px;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-color);
    text-transform: uppercase;
}

.rightXpDiv {
    height:66%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.rightXpDiv h3 {
    padding: 0 0 0 20px;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-color);
    text-transform: uppercase;
}

.leftXpBorder {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255,255,255,0.2);
    position: relative;
    height: 100%;
}

.leftXpBorder::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: -11px;
    top: 0; 
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.leftXpBorder h4 {
    line-height: 18px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 2px 0 5px 0;
}

.leftXpBorder h5 {
    font-size: 16px;
    background: rgba(255,255,255,0.15);
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 10px;
    color: var(--white-color);
}

.leftXpBorder p {
    color: var(--white-color);
}

.leftXpBorder li {
    margin-top: 0;
    color: var(--white-color);
    padding-bottom: 13px;
}

.leftXpBorder ul {
    padding-left: 20px;
}

.rightXpBorder {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255,255,255,0.2);
    position: relative;
    height: 100%;
}

.rightXpBorder::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: -11px;
    top: 0; 
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.rightXpBorder h4 {
    line-height: 18px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 2px 0 5px 0;
}

.rightXpBorder h5 {
    font-size: 16px;
    background: rgba(255,255,255,0.15);
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 10px;
    color: var(--white-color);
}

.rightXpBorder li {
    margin-top: 0;
    color: var(--white-color);
    padding-bottom: 13px;
}

.rightXpBorder ul {
    padding-left: 20px;
}

.rightXpBorder p {
    color: var(--white-color);
}

#logo-slider {
    background-color: rgba( 255, 255, 255, 0.7 );
    height: 20%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    white-space: nowrap;
    animation: slideAnimation 20s linear infinite; 
}

.slide {
    flex-shrink: 0;
    display: inline-block;
    padding: 0 20px; 
    cursor: pointer;
}

.slide img {
    width: 85px;
    height: 85px;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}



/* PORTFOLIO SECTION */
.portfolio {
    height: 100vh;
    background-color: #181A1B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    overflow: hidden;
}

/* BUTTON FILTER */
.rowButtonPortfolio {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#filter-buttons button {
    text-transform: uppercase;
    color: var(--white-color);
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    transition: .5s ease-in-out;
    border: none;
    cursor: pointer;
}

#filter-buttons button:hover {
    letter-spacing: 5px;
    color: #f18701;
}

#filter-buttons button.active {
    color: #f18701;
}

/* FILTER CARD */
#filterable-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#filterable-cards .card {
    position: relative;
    opacity: 1;
    margin: 1rem;
    overflow: hidden;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

#filterable-cards .card.show {
    opacity: 1; 
    transform: scale(1) rotate(0deg); 
    filter: blur(0px); 
}

#filterable-cards .card.hide {
    opacity: 0;
    pointer-events: none;
    flex-basis: 0%;
    transform: scale(1.05) rotate(5deg); 
}

.card {
    width: 500px;
    height: 300px;
    display: flex;
}

.card img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* HOVER CARDS */
.hover-overlay {
    position: absolute;
    bottom: -100%; 
    left: 0;
    right: 0;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    transition: bottom 0.5s ease;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card:hover .hover-overlay {
    bottom: 0; 
}

.titleHoverCard {
    justify-content: center;
    font-size: 30px;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 20px 0 0 0;
    flex-basis: 100%;
    text-align: center;
    display: flex;
}

.textHoverCard {
    justify-content: center;
    font-size: 20px;
    color: var(--white-color);
    text-align: center;
    display: flex;
    flex-basis: 100%;
}

.buttonHoverDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonHoverCard {
    text-transform: uppercase;
    color: var(--white-color);
    background-color: #111111;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
}

.buttonHoverCard:hover {
    letter-spacing: 3px;
}

/* PILLS */
.pillsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
}

.pillsHtml {
    padding: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: #FF5733;
    border:none;
    color:white;
    font-weight: bold;
}

.pillsCss {
    padding: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: #264de4;
    border:none;
    color:white;
    font-weight: bold;
}

.pillsJs {
    background-color: #d8c545;
    padding: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    border:none;
    color:white;
    font-weight: bold;
}

.pillsPhp {
    background-color: #AEB2D5;
    padding: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    border:none;
    color:white;
    font-weight: bold;
}

.pillsWordpress {
    background-color: #00749C;
    padding: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    border:none;
    color:white;
    font-weight: bold;
}

/* PORTFOLIO TEXT */
.textPortfolio {
    font-size: var(--regular);
}

.rowTitlePortfolio {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlePortfolio {
    font-size: 120px;
    font-family: BLUDHAVEN;
    color: var(--white-color);
    font-weight: normal;
    text-transform: uppercase;
}

/* CONTACT SECTION */
.contact {
    height: 100vh;
    background-color: #181A1B;
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow: hidden;
}

.rowTitleContact {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.titleContact {
    color: var(--white-color);
    font-weight: normal;
    font-family: BLUDHAVEN;
    font-size: 120px;
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
}

.rowForm {
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.leftForm {
    display: flex;
    flex-basis: 50%;
    color: var(--white-color);
}

.rightForm {
    display: flex;
    flex-basis: 30%;
    height: 80%;
    background-color: #111111;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.separator {
    display: flex;
    margin-top: 35px;
    color: var(--white-color);
}

.separatorSocials {
    display: flex;
    color: var(--white-color);
    margin-top: 35px;
}

.mailDiv {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
}

.socialsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fa-envelope{
    color: var(--white-color);
}

.fa-linkedin {
    color: var(--white-color);
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.github {
    color: var(--white-color);
}

.github:hover {
    color: var(--primary-color);
}

.mailContact {
    text-decoration: none;
    color: var(--white-color);
    font-size: 24px;
    padding: 20px 0 20px 20px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

.mailContact:hover {
    color: var(--primary-color);
}

.titleMailContact {
    color: var(--white-color);
    font-size: 26px;
    text-transform: uppercase;
    height: 5%;
    letter-spacing: 2px;
}

.titleSocials {
    color: var(--white-color);
    font-size: 26px;
    text-transform: uppercase;
    height: 5%;
    letter-spacing: 2px;
}

label {
    transform: translateY(-50px);
    transition: all 0.5s ease-in-out;
}

.textAreaLabel {
    transition: all 0.5s ease-in-out;
}

input:focus + label,input:valid + label{
	transform:translateY(-75px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}

textarea {
    height: 200px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px var(--white-color);
}

textarea::placeholder {
    color: var(--white-color);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

input {
    height: 10%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--white-color);
    color: var(--white-color);
}

input:focus, textarea:focus {
    outline: none;
    transition: border 0.2s ease-in-out;
    border-bottom: 2px solid #f18701;
}

.buttonDivForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonForm {
    text-transform: uppercase;
    background-color: #111111;
    padding: 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
    color: var(--white-color);
}

.buttonForm:hover {
    letter-spacing: 5px;
    background-color: var(--primary-color);
}

#nameMsgError {
    display: none;
    font-weight: bold;
}

#lastnameMsgError {
    display: none;
    font-weight: bold;
}

#emailMsgError {
    display: none;
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: green;
}
